.home{
    width: 300px;
    height: 200px;
    margin: 200px auto;
    background-color: darkgrey;
}
.home-title{
    text-align: center;
    font-size: 20px;
}
.list{
    list-style: none;
    font-size: 18px;
    color: #181818;
}
.link{
    color: #181818;
    text-decoration: none;
}
.link:hover{
    color:bisque;
}