div,ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
/*.nav-global{*/
/*    width: 100%;*/
/*    height:20px;*/
/*}*/
/*.nav-list{*/
/*    width: 90%;*/
/*    height: 20px;*/
/*    float: left;*/
/*}*/
/*.nav-list li{*/
/*    width: 8%;*/
/*    float: left;*/
/*    height: 15px;*/
/*    line-height: 15px;*/
/*    font-size: 12px;*/
/*    background-color: #fff;*/
/*    color:#A2A2A2;*/
/*    margin-right:6%;*/
/*}*/
.nav{
    display: flex;
    width: 100%;
    height:20px;
}
.nav-list{
    flex: 1;
    height: 20px;
    float: left;
}
.nav-list li{
    width: 8%;
    float: left;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    background-color: #fff;
    color:#A2A2A2;
    margin-right:6%;
    text-align: center;
}
.nav-list .active{
    color: black;
    border-bottom: 3px solid black;
}

.nav-add{
    width: 30px;
    height: 20px;
    line-height: 20px;
    float: right;
    text-align: center;
    font-size: 30px;
    background-image: url("../../images/add.png");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
}